{% extends 'tienda/base.html' %}
{% block content %}
    <h3>Vista detallada del producto:</h3>
       <li>Nombre: {{ producto }}</li>
    <br>
    <h5>Unidades disponibles:</h5>
        <li>{{ unidades }} Unidades </li>
    <br>
    <form method="post" action="/compraid/{{ id }}">
        {% csrf_token %}
        <h5>Compra: </h5>
        {{ form }}
        <button type="submit">Comprar</button>
    </form>
    <form method="post" action="/listadocompra/">
        {% csrf_token %}
        <button type="submit">Cancelar</button>
    </form>
{% endblock %}
