{% extends 'tienda/base.html' %}
{% block content %}
    <h2>Vista detallada del producto:</h2>
       <li>Nombre: {{ producto }}</li>
    <h3>Unidades disponibles:</h3>
        <li>{{ unidades }} Unidades </li>
    <form method="post" action="/compraid/{{ id }}">
        <h3>Compra: </h3>
        {{ form }}
        {% csrf_token %}
        <button type="submit">Comprar</button>
    </form>
    <form method="post" action="/listadocompra/">
        {% csrf_token %}
        <button type="submit">Cancelar</button>
    </form>
{% endblock %}
