{% extends 'tienda/base.html' %}
{% block content %}
    <h3>Selecciona una marca: </h3>
        {% for marca in listamarcas %}
            <p>
                <form method="post" action="/listado_marcas/{{ marca.nombre }}">
                    {% csrf_token %}
                    <button type="submit">{{ marca.nombre }}</button>
                </form>
            </p>
        {% endfor %}

    <hr>
    <h3>Top 10 de productos vendidos:</h3>
    <br>
        {% for item in top_ten %}
            <li>{{ item.nombre }}, {{ item.total_ventas }} unidades.</li>
            <br>
        {% endfor %}
    <hr>
    <h3>Top 10 mejores clientes:</h3>
    <br>
    {% for cliente in top_ten_usuario %}
        <li>{{ cliente.usuario }}, con un total de {{ cliente.total_compra_usuario }} euros gastados.</li>
        <br>
    {% endfor %}

{% endblock %}
