 <!--listaquery es una lista de un solo elemento que contiene tantos diccionarios como productos-->
    <!--los diccionarios contienen tantos key como campos de tabla-->
{% extends 'tienda/base.html' %}
{% load static %}
{% block content %}
    <h2>Listado de productos:</h2>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Unidades</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th>Marca</th>
        </tr>
        {% for item in listaquery %}
        <!--selecciona una entrada-->
            <tr>
                {% for valor in item.values %}
                    <td> {{ valor }}</td>
                {% endfor %}

                {% if user.is_authenticated %}
                    <td>
                    <form method="post" action="/tienda/editar/{{ item.id }}">
                        {% csrf_token %}
                        <button  class="btn btn-primary" type="submit">Editar</button>
                    </form>
                    <form method="post" action="/tienda/eliminar/{{ item.id }}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                    </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <hr>

    <!--botón de añadir producto, al final de la lista-->
    {% if user.is_authenticated %}
        <p>
            <a href="{% url 'add' %}">Añadir un producto</a>
        </p>
        <p>
        <a href="{% url 'logout_usr' %}">Cierra sesión</a>
        </p>
    {% else %}
           <a href="{% url 'login_usr' %}">Inicia sesión para administrar</a>
    {% endif %}


{% endblock %}
